*{
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.calc{
  outline: 0;
  border: 0;
  margin-top: 30vh;
  margin-left: 90vh;
  height: 47vh;
  box-shadow: 0 0 2vh 0 white;
  width: 35vh;
}
.calc button{
  margin-left: 2vh;
  border: 0;
  outline: 0;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 0 5px white;
  margin-top: 2vh;
  cursor: pointer;
}
.calc input{
  margin-top: 2vh;
  font-size: 20px;
  text-align: right;
  margin-left: 1vh;
  color: white;
  outline: none;
  border: none;
  margin-bottom: 1vh;
  background: transparent;
}
.equal{
  color: white;
  background-color: orange;
}
@media (max-width:900px){
  .calc{
    margin-left: -1vh;
    margin-left: 15vh;
  }
  .calc input{
    margin-left: -2vh;
    border: none;
    outline: none;
    background: transparent;
  }
}